<div class="panel panel-success">
    <div ng-if="$ctrl.mode" class="panel-heading">
        <div class="row">
            <div class="col-xs-10">
                <h3 ng-if="$ctrl.type != 'films'" class="panel-title">{{$ctrl.data.name}}</h3>
                <h3 ng-if="$ctrl.type == 'films'" class="panel-title">{{$ctrl.data.title}}</h3>
            </div>
            <div class="col-xs-2" align="right">
                <a id="favoriteBtn" type="button" ng-click="$ctrl.toggleFavorite()">
                    <span class="glyphicon" ng-class="$ctrl.inFavoriteList ? 'glyphicon-star' : 'glyphicon-star-empty' " aria-hidden="true"></span> 
                </a>
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.mode" class="panel-heading">
        <div class="row">
            <div class="col-xs-10">
                <h3 ng-if="$ctrl.type != 'films'" class="panel-title"><a ng-click="$ctrl.goToItemPage()">{{$ctrl.data.name}}<br/></a></h3>
                <h3 ng-if="$ctrl.type == 'films'" class="panel-title"><a ng-click="$ctrl.goToItemPage()">{{$ctrl.data.title}}<br/></a></h3>
            </div>
            <div class="col-xs-2" align="right">
                <a id="favoriteBtn" type="button"  ng-click="$ctrl.toggleFavorite()">
                    <span class="glyphicon" ng-class="$ctrl.inFavoriteList ? 'glyphicon-star' : 'glyphicon-star-empty' " aria-hidden="true"></span> 
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div ng-switch="$ctrl.type">
            <div ng-switch-when="people">
                <b>birth year: </b>{{$ctrl.data.birth_year}}<br/>
                <b>eye color: </b>{{$ctrl.data.eye_color}}<br/>
                <b>gender: </b>{{$ctrl.data.gender}}<br/>
                <b>hair color: </b>{{$ctrl.data.hair_color}}<br/>
                <b>height: </b>{{$ctrl.data.height}}<br/>
                <b>mass: </b>{{$ctrl.data.mass}}<br/>
                <b>skin color: </b>{{$ctrl.data.skin_color}}<br/>
            </div>
            <div ng-switch-when="planets">
                <b>diameter: </b>{{$ctrl.data.diameter}}<br/>
                <b>rotation period: </b>{{$ctrl.data.rotation_period}}<br/>
                <b>orbital period: </b>{{$ctrl.data.orbital_period}}<br/>
                <b>gravity: </b>{{$ctrl.data.gravity}}<br/>
                <b>population: </b>{{$ctrl.data.population}}<br/>
                <b>climate: </b>{{$ctrl.data.climate}}<br/>
                <b>terrain: </b>{{$ctrl.data.terrain}}<br/>
                <b>surface water: </b>{{$ctrl.data.surface_water}}<br/>
            </div>
            <div ng-switch-when="films">
                <b>episode id: </b>{{$ctrl.data.episode_id}}<br/>
                <b>opening crawl: </b>
                <p>{{$ctrl.data.opening_crawl}}</p>
                <b>director: </b>{{$ctrl.data.director}}<br/>
                <b>producer: </b>{{$ctrl.data.producer}}<br/>
                <b>release date: </b>{{$ctrl.data.release_date | date:'dd/MM/yyyy'}}<br/>
            </div>
            <div ng-switch-when="species">
                <b>classification: </b>{{$ctrl.data.classification}}<br/>
                <b>designation: </b>{{$ctrl.data.designation}}<br/>
                <b>average height: </b>{{$ctrl.data.average_height}}<br/>
                <b>average lifespan: </b>{{$ctrl.data.average_lifespan}}<br/>
                <b>eye colors: </b>{{$ctrl.data.eye_colors}}<br/>
                <b>hair colors: </b>{{$ctrl.data.hair_colors}}<br/>
                <b>skin colors: </b>{{$ctrl.data.skin_colors}}<br/>
                <b>language: </b>{{$ctrl.data.language}}<br/>
            </div>
            <div ng-switch-when="starships">
                <b>model: </b>{{$ctrl.data.model}}<br/>
                <b>starship class: </b>{{$ctrl.data.starship_class}}<br/>
                <b>manufacturer: </b>{{$ctrl.data.manufacturer}}<br/>
                <b>cost in credits: </b>{{$ctrl.data.cost_in_credits}}<br/>
                <b>length: </b>{{$ctrl.data.length}}<br/>
                <b>crew: </b>{{$ctrl.data.crew}}<br/>
                <b>passengers: </b>{{$ctrl.data.passengers}}<br/>
                <b>max atmosphering speed: </b>{{$ctrl.data.max_atmosphering_speed}}<br/>
                <b>hyperdrive rating: </b>{{$ctrl.data.hyperdrive_rating}}<br/>
                <b>MGLT: </b>{{$ctrl.data.MGLT}}<br/>
                <b>cargo capacity: </b>{{$ctrl.data.cargo_capacity}}<br/>
                <b>consumables: </b>{{$ctrl.data.consumables}}<br/>
            </div>
            <div ng-switch-when="vehicles">
                <b>model: </b>{{$ctrl.data.model}}<br/>
                <b>vehicle class: </b>{{$ctrl.data.vehicle_class}}<br/>
                <b>manufacturer: </b>{{$ctrl.data.manufacturer}}<br/>
                <b>length: </b>{{$ctrl.data.length}}<br/>
                <b>cost in credits: </b>{{$ctrl.data.cost_in_credits}}<br/>
                <b>crew: </b>{{$ctrl.data.crew}}<br/>
                <b>passengers: </b>{{$ctrl.data.passengers}}<br/>
                <b>max atmosphering speed: </b>{{$ctrl.data.max_atmosphering_speed}}<br/>
                <b>cargo capacity: </b>{{$ctrl.data.cargo_capacity}}<br/>
                <b>consumables: </b>{{$ctrl.data.consumables}}<br/>
            </div>
        </div>
        <div align="right" ng-if="!$ctrl.mode">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.toggle()">
                <span class="glyphicon" ng-class="$ctrl.extend ? 'glyphicon-minus' : 'glyphicon-plus' " aria-hidden="true"></span> 
            </button>
        </div>
    </div>
    <div ng-if="$ctrl.mode || (!$ctrl.mode && $ctrl.extend)" class="panel-footer">
        <ul class="nav nav-tabs">
            <li ng-if="$ctrl.type != 'films'" role="presentation" ng-class="$ctrl.tabActive('films')"><a ng-click="$ctrl.changeExtendType('films')">films</a></li>
            <li ng-if="$ctrl.type == 'planets'" role="presentation" ng-class="$ctrl.tabActive('residents')"><a ng-click="$ctrl.changeExtendType('residents')">residents</a></li>
            <li ng-if="$ctrl.type == 'species'" role="presentation" ng-class="$ctrl.tabActive('people')"><a ng-click="$ctrl.changeExtendType('people')">people</a></li>
            <li ng-if="$ctrl.type == 'vehicles' || $ctrl.type == 'starships'" role="presentation" ng-class="$ctrl.tabActive('pilots')"><a ng-click="$ctrl.changeExtendType('pilots')">pilots</a></li>
            <li ng-if="$ctrl.type == 'people' || $ctrl.type == 'species'" role="presentation" ng-class="$ctrl.tabActive('homeworld')"><a ng-click="$ctrl.changeExtendType('homeworld')">homeworld</a></li>
            <li ng-if="$ctrl.type == 'films'" role="presentation" ng-class="$ctrl.tabActive('planets')"><a ng-click="$ctrl.changeExtendType('planets')">planets</a></li>
            <li ng-if="$ctrl.type == 'films'" role="presentation" ng-class="$ctrl.tabActive('characters')"><a ng-click="$ctrl.changeExtendType('characters')">characters</a></li>
            <li ng-if="$ctrl.type == 'films' || $ctrl.type == 'people'" role="presentation" ng-class="$ctrl.tabActive('species')"><a ng-click="$ctrl.changeExtendType('species')">species</a></li>
            <li ng-if="$ctrl.type == 'films' || $ctrl.type == 'people'" role="presentation" ng-class="$ctrl.tabActive('starships')"><a ng-click="$ctrl.changeExtendType('starships')">starships</a></li>
            <li ng-if="$ctrl.type == 'films' || $ctrl.type == 'people'" role="presentation" ng-class="$ctrl.tabActive('vehicles')"><a ng-click="$ctrl.changeExtendType('vehicles')">vehicles</a></li>
        </ul>
        <div ng-if="$ctrl.isSearching">
            loading...
        </div>
        <div ng-if="!$ctrl.isSearching && $ctrl.extendData" ng-switch="$ctrl.extendType">
            <div ng-switch-when="homeworld">
                <a ng-repeat="planet in $ctrl.extendData.homeworld" ng-click="$ctrl.goToUrl('planets',planet.url)">{{planet.name}}<br/></a>
            </div>
            <div ng-switch-when="films">
                <a ng-repeat="film in $ctrl.extendData.films" ng-click="$ctrl.goToUrl('films',film.url)">{{film.title}}<br/></a>
            </div>
            <div ng-switch-when="species">
                <a ng-repeat="specie in $ctrl.extendData.species" ng-click="$ctrl.goToUrl('species',specie.url)">{{specie.name}}<br/></a>
            </div>
            <div ng-switch-when="starships">
                <a ng-repeat="starship in $ctrl.extendData.starships" ng-click="$ctrl.goToUrl('starships',starship.url)">{{starship.name}}<br/></a>
            </div>
            <div ng-switch-when="vehicles">
                <a ng-repeat="vehicle in $ctrl.extendData.vehicles" ng-click="$ctrl.goToUrl('vehicles',vehicle.url)">{{vehicle.name}}<br/></a>
            </div>
            <div ng-switch-when="characters">
                <a ng-repeat="character in $ctrl.extendData.characters" ng-click="$ctrl.goToUrl('people',characters.url)">{{character.name}}<br/></a>
            </div>
            <div ng-switch-when="residents">
                <a ng-repeat="resident in $ctrl.extendData.residents" ng-click="$ctrl.goToUrl('people',resident.url)">{{resident.name}}<br/></a>
            </div>
            <div ng-switch-when="people">
                <a ng-repeat="person in $ctrl.extendData.people" ng-click="$ctrl.goToUrl('people',person.url)">{{person.name}}<br/></a>
            </div>
            <div ng-switch-when="pilots">
                <a ng-repeat="pilot in $ctrl.extendData.pilots" ng-click="$ctrl.goToUrl('people',pilot.url)">{{pilot.name}}<br/></a>
            </div>
            <div ng-switch-when="planets">
                <a ng-repeat="planet in $ctrl.extendData.planets" ng-click="$ctrl.goToUrl('planets',planet.url)">{{planet.name}}<br/></a>
            </div>

        </div>
        <div ng-if="!$ctrl.isSearching && $ctrl.error">
            <h3>Sorry, there is an error. try again later.</h3> 
        </div>
    </div>
</div>