a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.panel-footer{
    background-color: white;
}
.panel-footer>div{
    padding: 10px 5px;
}
#favoriteBtn>span{
    color:#ceae13;
}