<h1>You favorite list is:</h1>
<div ng-if="$ctrl.isSearching">
    loading...
</div>
<div ng-if="!$ctrl.isSearching && $ctrl.favorite">
    <div ng-repeat="(type,list) in $ctrl.favorite">
        <div ng-if="list.length > 0">
            <h3>{{type}}:</h3>
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="var in list">
                    <details-panel data="var" type="type"></details-panel>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.isSearching && $ctrl.error">
    <h3>Sorry, there is an error. try again later.</h3> 
</div>