<h1>{{$ctrl.type}}</h1>
<div ng-if="$ctrl.isSearching">
    loading...
</div>
<div ng-if="!$ctrl.isSearching && $ctrl.pageData">
    <div ng-switch="$ctrl.type" ng-if="!$ctrl.hasId">
        <div ng-switch-when="people">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="person in $ctrl.pageData.results">
                    <details-panel data="person"  type="'people'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="films">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="film in $ctrl.pageData.results">
                    <details-panel data="film"  type="'films'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="planets">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="planet in $ctrl.pageData.results">
                    <details-panel data="planet"  type="'planets'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="species">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="specie in $ctrl.pageData.results">
                    <details-panel data="specie"  type="'species'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="starships">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="starship in $ctrl.pageData.results">
                    <details-panel data="starship"  type="'starships'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="vehicles">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-repeat="vehicle in $ctrl.pageData.results">
                    <details-panel data="vehicle"  type="'vehicles'"></details-panel>
                </div>
            </div>
        </div>

    </div>
    <div ng-switch="$ctrl.type" ng-if="$ctrl.hasId">
        <div ng-switch-when="people">
            <div class="row">
                <div class="col-xs-12">
                    <details-panel data="$ctrl.pageData" mode="'single'" type="'people'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="films">
            <div class="row">
                <div class="col-xs-12">
                    <details-panel data="$ctrl.pageData" mode="'single'" type="'films'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="planets">
            <div class="row">
                <div class="col-xs-12">
                    <details-panel data="$ctrl.pageData" mode="'single'" type="'planets'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="species">
            <div class="row">
                <div class="col-xs-12">
                    <details-panel data="$ctrl.pageData" mode="'single'" type="'species'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="starships">
            <div class="row">
                <div class="col-xs-12">
                    <details-panel data="$ctrl.pageData" mode="'single'" type="'starships'"></details-panel>
                </div>
            </div>
        </div>
        <div ng-switch-when="vehicles">
            <div class="row">
                <div class="col-xs-12">
                    <details-panel data="$ctrl.pageData" mode="'single'" type="'vehicles'"></details-panel>
                </div>
            </div>
        </div>

    </div>

    <div align="center" ng-if="$ctrl.pageData.previous != null || $ctrl.pageData.next != null">
        <button type="button" class="btn btn-primary" ng-disabled="$ctrl.pageData.previous == null" ng-click="$ctrl.prevPage()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
        </button>
        <button type="button" class="btn btn-primary" ng-disabled="$ctrl.pageData.next == null" ng-click="$ctrl.nextPage()">
            Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
        </button>

    </div>

</div>

<div ng-if="!$ctrl.isSearching && $ctrl.errorStatus">
    <h3 ng-if="$ctrl.errorStatus == 404">Sorry, the page not found.</h3>
    <h3 ng-if="!$ctrl.errorStatus == 404">Sorry, there is an error. try again later.</h3> 
</div>