<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">swapi</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: $ctrl.active('home') }"><a ui-sref="home">Home</a></li>
                    <li ng-class="{ active: $ctrl.active('people') }"><a ui-sref="people.page">People</a></li>
                    <li ng-class="{ active: $ctrl.active('films') }"><a ui-sref="films.page">Films</a></li>
                    <li ng-class="{ active: $ctrl.active('starships') }"><a ui-sref="starships.page">Starships</a></li>
                    <li ng-class="{ active: $ctrl.active('vehicles') }"><a ui-sref="vehicles.page">Vehicles</a></li>
                    <li ng-class="{ active: $ctrl.active('species') }"><a ui-sref="species.page">Species</a></li>
                    <li ng-class="{ active: $ctrl.active('planets') }"><a ui-sref="planets.page">Planets</a></li>
                </ul>
            </div>
        </div>
    </nav>